@font-face {
    font-family: 'LatoBold';
    src: url(/resource/LatoBold);
}
@font-face {
    font-family: 'LatoRegular';
    src: url(/resource/LatoRegular);
}
.THIS.slds-scope{ background:#fff;}
.THIS .fullpage { background:#f2f3f7;  margin:0;  padding:0;}
.THIS .slds-box_x-small{ padding:0; border:none;}
/*header css start*/
.THIS .header-part{ display: inline-block; padding:0;line-height: 40px; vertical-align: top;}
.THIS .header-part .logo img{ width:140px;}
.THIS .new-container { margin: 0 auto; border: none; width: -webkit-fill-available;}
.THIS .new-containerpage { margin: 0 auto;border-bottom:1px solid #ccc; width: -webkit-fill-available;}
.THIS .header-full{ padding:14px 0;}
.THIS .header-part .bar h2{ color: #00b0b9;
    font-size: 20px;font-family:LatoBold;} 
.THIS .bar-title-box{display: inline-block;}
.THIS .bar-title{ display:block;line-height: normal;}
.THIS .bar-title h5{ display:inline-block; color:#333; font-family:LatoRegular; font-size:13px;}
.THIS .bar-title h6{color:#333; font-family:LatoRegular; font-size:13px; text-align: right;}
.THIS .call{ margin:0; padding:0;text-align: right;line-height: normal;}
.THIS .call h4{ color:#333; font-family:LatoRegular; font-size:13px; margin:12px 54px 5px 0;}
.THIS .call h3{ color:#282828; font-family:LatoRegular; font-size:18px;}
/*header css end*/
/*content css start*/
.THIS .slds-vertical-tabs{ border:none;}
.THIS .slds-progress-bar__value {background: #fe4602;}
.THIS .slds-vertical-tabs__nav{ width:19%;border-right:none; padding:18px 0 0 0;    background: #fff;}
.THIS .slds-vertical-tabs__nav-item.slds-is-active { border-right:none; position: relative;}
.THIS .slds-vertical-tabs__link:hover{ background:#fff;}
.THIS .slds-vertical-tabs__nav-item.slds-is-active .arrow-left{position: absolute; right: 0px; z-index: 99; display:block; top: 36%;}
.THIS .slds-vertical-tabs__link:focus { outline: 0; text-decoration: none;}
.THIS .slds-vertical-tabs__nav-item .arrow-left{ display:none;}
.THIS .slds-vertical-tabs__nav-item{border-bottom:none;    position: relative;}
.THIS .slds-truncate {text-overflow: initial;white-space: inherit; text-align:left;}
.THIS .slds-vertical-tabs__nav-item.slds-is-active .slds-truncate{ color:#fe4602; font-size:18px;font-family:LatoBold;}
.THIS .slds-vertical-tabs__nav-item.slds-is-active .slds-truncate p{ color:#666666; font-size:14px;font-family:LatoRegular; }
.THIS .slds-vertical-tabs__nav-item .slds-truncate{ color:#212b3d; font-size:18px;font-family:LatoBold;}
.THIS .slds-vertical-tabs__nav-item .slds-truncate p{ color:#666666; font-size:14px;font-family:LatoRegular; }
.THIS .slds-vertical-tabs__link { padding: 18px 90px 18px 10px;}
.THIS .slds-vertical-tabs__content {    position: relative;  padding: 2.4rem 0rem 1.5rem 4.5rem;border-left: 1px solid #ccc;}
.THIS .slds-text-longform h3{ font-size:20px; font-family:LatoBold; color:#fe4602;margin: 0 0 26px 0;}
.THIS .slds-text-longform h4{ font-size:20px; font-family:LatoBold; color:#fe4602;margin: 0 0 16px 0;}
.THIS .slds-form-element__label{margin: 0 0 5px 0; padding:0; font-size:14px;color:#333; font-family:LatoRegular; }
.THIS .slds-form-element__label .slds-required{display:none;}
.THIS .uiMessage.error {margin: 0 0 20px;border-radius: 0;}
.THIS .uiMessage.hide{ display:none;} 
.THIS .required .slds-input{border-left:2px solid #ff3334; }
.THIS .required .slds-select{border-left:2px solid #ff3334; }
.THIS .required .slds-input:active{border-left:2px solid #ff3334; }
.THIS .required .slds-input:focus{border-left:2px solid #ff3334; }
.THIS .required .slds-select:active{border-left:2px solid #ff3334; }
.THIS .required .slds-select:focus{border-left:2px solid #ff3334; }
.THIS .slds-input::placeholder {  color: #999;}
.THIS .slds-select option{color:#333}
.THIS .slds-select option:first-child{  color: #333;}
.THIS .slds-input{height: inherit;  border:1px solid #ccc;  padding: 7px 10px; color: #333;background: #fff; border-radius:0; font-size:14px;}
.THIS .slds-input:focus{  border:1px solid #ccc;outline: none;box-shadow: none;}
.THIS .slds-input:active{  border:1px solid #ccc;outline: none;box-shadow: none;}
.THIS .slds-select{height: inherit;  border:1px solid #ccc;  padding: 10px 10px; color: #333;background: #fff; border-radius:0; font-size:14px;}
.THIS .slds-select:focus{  border:1px solid #ccc;outline: none;box-shadow: none;}
.THIS .slds-select:active{  border:1px solid #ccc;outline: none;box-shadow: none;}
.THIS .flow1{ display:inline-block; margin:0 0px 0 0;padding: 0 20px 0 0;}
.THIS .flow2{ display:inline-block; margin:0 0 0px;     padding: 0;}
.THIS .flow3{vertical-align: top;}
.THIS .field1{ margin:26px 0; padding:0;}
.THIS .field2{ margin:0 0 26px 0; padding:0;}
.THIS .field3{ margin:0 0 10px 0; padding:0;}
.THIS .full-field{display:inline-flex;}
.THIS .flow2 p{ margin:0; padding:0;}
.THIS .flow2 h1{ margin:30px 0 10px; padding:0; font-family: 'LatoBold'; font-size:14px;color: #333;}
.THIS .accept{ height:400px; border:1px solid #ccc; padding:10px 0 0 10px;}
.THIS .accept iframe{vertical-align: top;width: 100%;  height: 100%;  border: none; }
.THIS .agree{ margin:20px 0 0; padding:0; color:#333; font-size:14px;font-family:LatoRegular;}
/*.THIS .agree .slds-checkbox_faux{box-shadow: none;background: #fe4602;}*/
.THIS .agree .slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox_faux:after{border-bottom: 2px solid #fe4602; border-left: 2px solid #fe4602;}
.THIS .agree .slds-checkbox .slds-checkbox__label .slds-form-element__label{color:#333; font-size:14px;font-family:LatoRegular;vertical-align: sub;}
.THIS .flow2 h6{ color:#666; font-size:14px;font-family:LatoRegular; margin:0; padding:0;}
.THIS .flow2 h5{ color:#333; font-size:14px;font-family:LatoRegular; margin:0; padding:0;}
.THIS .flow2 img{ margin:0 8px 0 0 ; padding:0;vertical-align: text-top;}
.THIS .flow2 p.plus{ margin:-0 0 0 0; padding:0;}
.THIS .flow2 p.plus img{ margin:-5px 0 0 0 ; padding:0;cursor: pointer;vertical-align:middle;}
.THIS .flow2 p img.delete{margin:-5px 0 0 10px; cursor: pointer;vertical-align: middle;}
.THIS .spaceline{ margin:140px 0 26px 0;border-bottom:1px solid #ccc; }
.THIS .spaceline2{ margin:40px 0 26px 0;border-bottom:1px solid #ccc; }
.THIS .slds-button_brand{ border-radius:0; color:#fff;border:1px solid #fe4602; font-size:14px; padding:10px 30px; background:#fe4602; font-family:LatoRegular;}
.THIS .slds-button_brand1{ color:#9a9a9a;border:1px solid #ccc; background:#cccccc; }
.THIS .slds-button_brand:hover{border:1px solid #fe4602;color:#fe4602;background:#fff;}
.THIS .slds-button_brand:active{border:1px solid #fe4602;color:#fe4602;background:#fff;}
.THIS .slds-button_brand:focus{border:1px solid #fe4602;color:#fe4602;background:#fff;outline: 0; box-shadow: none;}
/*content css end*/
/*footer css start*/
.THIS .footer-full{ padding:26px 0; margin:0;}
.THIS .footerbottom{background: #212b3d;width: 100%;}
.THIS .footer-part{ margin:0; padding:0; display:inline-block;}
.THIS .footer-part p{color:#a8b3c6; margin:0 ;font-size:14px; font-family:LatoRegular;  display:inline-block; }
.THIS .footer-part p a{color:#a8b3c6; margin:0 40px 0 0 ;font-size:14px; font-family:LatoRegular;  display:inline-block; }
.THIS .footer-part p.copy{   text-align: right;    display: block;}
/*header css end*/