@font-face {
    font-family: 'Acronym-Regular';
    src: url(/resource/bright/bright-3.0/fonts/Acronym-Regular.ttf);  
}
@font-face {
    font-family: 'Acronym-Bold';
    src: url(/resource/bright/bright-3.0/fonts/Acronym-Bold.ttf);
}