@font-face {
    font-family: 'LatoBold';
    src: url(/resource/LatoBold);
}
@font-face {
    font-family: 'LatoRegular';
    src: url(/resource/LatoRegular);
}
.THIS.slds-scope{ background:#fff;}
.THIS .fullpage { background:#f2f3f7;  margin:0;  padding:0;}
.THIS .slds-box_x-small{ padding:0; border:none;}
/*header css start*/
.THIS .header-part{ display: inline-block; padding:0;line-height: 40px; vertical-align: top;}
.THIS .header-part .logo img{ width:140px;}
.THIS .new-container { margin: 0 auto; border: none; width: -webkit-fill-available;}
.THIS .new-containerpage { margin: 0 auto;border-bottom:1px solid #ccc; width: -webkit-fill-available;}
.THIS .header-full{ padding:14px 0;}
.THIS .header-part .bar h2{ color: #00b0b9;font-size: 20px;font-family:LatoBold;} 
.THIS .header-part .bar1 h2{ color: #282828;} 
.THIS .bar-title-box{display: inline-block;}
.THIS .bar-title{ display:block;line-height: normal;}
.THIS .bar-title h5{ display:inline-block; color:#333; font-family:LatoRegular; font-size:13px;}
.THIS .bar-title h6{color:#333; font-family:LatoRegular; font-size:13px; text-align: right;}
.THIS .call{ margin:0; padding:0;text-align: right;line-height: normal;}
.THIS .call h4{ color:#333; font-family:LatoRegular; font-size:13px; margin:12px 54px 5px 0;}
.THIS .call h3{ color:#282828; font-family:LatoRegular; font-size:18px;}
.THIS .middleone{vertical-align: middle;text-align: center;  margin: 10px 0 0 0;}
/*header css end*/
/*footer css start*/
.THIS .footer-full{ padding:26px 0; margin:0;}
.THIS .footerbottom{background: #212b3d;width: 100%;}
.THIS .footer-part{ margin:0; padding:0; display:inline-block;}
.THIS .footer-part p{color:#a8b3c6; margin:0 ;font-size:14px; font-family:LatoRegular;  display:inline-block; }
.THIS .footer-part p a{color:#a8b3c6; margin:0 40px 0 0 ;font-size:14px; font-family:LatoRegular;  display:inline-block; }
.THIS .footer-part p.copy{   text-align: right;    display: block;}
/*footer css end*/
/*content css start*/
.THIS .newapplication{ margin:20px 0; padding:0; min-height:300px;}
.THIS .newapplication h2{ margin:0 0 20px; padding:0; color:#000;font-family: 'LatoBold'; font-size:20px; text-align:left;}
.THIS .newapplication1{ margin:0; padding:0; display:inline-block; vertical-align: top;}
.THIS .newapplication1 h3{ margin:0 0 10px; padding:0; color:#d33e00;font-family: 'LatoBold';font-size:14px;text-align:left; }
.THIS .newapplication3 h3{ margin:0 0 0; padding:0; color:#666; font-family: 'LatoRegular';font-size:14px;text-align:left; }
.THIS .newapplication3 h4{ margin:0 0 0; padding:0; color:#000; font-family: 'LatoRegular';font-size:14px;text-align:left; }
.THIS .newapplication2{ display:inline-block; margin:0 0 0;}
.THIS .newapplication3{ display:inline-block; margin:0 0 0px;}
.THIS .newapplication4{ display:inline-block; margin:0 0 5px;}
.THIS .timepoint .spaceline2 {
    margin: 26px 0;
    border-bottom: 1px solid #ccc;
}
.THIS .succesmsg .approved{ background:#dff0d8; margin:20px 0 0; padding:6px 10px; border-radius:5px;}
.THIS .succesmsg .approved p img{ margin:0 10px 0 0; padding:0;}
.THIS .succesmsg .approved p{ margin:0; padding:0; color:#000; font-size:14px;font-family: 'LatoRegular';}
.THIS .timepoint .slds-button_brand .ezjoinarrow{position: absolute;
    right: 14px;}
.THIS .timepoint .slds-button_brand{  border-radius:5px; height:50px; margin:0 0 26px 0 ;    min-width: 150px; color:#fff;border:1px solid #d64300; font-size:14px; padding:7px 10px; background:#fe4602; font-family:LatoRegular;}
.THIS .timepoint .slds-button_brand:hover{border:1px solid #d64300;color:#d64300;background:#fff;}
.THIS .timepoint .slds-button_brand:active{border:1px solid #d64300;color:#d64300;background:#fff;}
.THIS .timepoint .slds-button_brand:focus{border:1px solid #d64300;color:#d64300;background:#fff;outline: 0; box-shadow: none;}
/*footer css end*/