@font-face {
    font-family: 'LatoBold';
    src: url(/resource/LatoBold);
}
@font-face {
    font-family: 'LatoRegular';
    src: url(/resource/LatoRegular);
}
.THIS.slds-scope{ background:#fff;}
.THIS .fullpage { background:#f2f3f7;  margin:0;  padding:0;}
.THIS .slds-box_x-small{ padding:0; border:none;}
/*header css start*/
.THIS .header-part{ display: inline-block; padding:0;line-height: 40px; vertical-align: top;}
.THIS .header-part .logo img{ width:140px;}
.THIS .new-container { margin: 0 auto; border: none;   width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;}
.THIS .new-containerpage { margin: 0 auto;border-bottom:1px solid #ccc;  width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;}
.THIS .header-full{ padding:14px 0;}
.THIS .header-part .bar h2{ color: #00b0b9;font-size: 20px;font-family:LatoBold;} 
.THIS .header-part .bar1 h2{ color: #282828;} 
.THIS .bar-title-box{display: inline-block;}
.THIS .bar-title{ display:block;line-height: normal;}
.THIS .bar-title h5{ display:inline-block; color:#333; font-family:LatoRegular; font-size:13px;}
.THIS .bar-title h6{color:#333; font-family:LatoRegular; font-size:13px; text-align: right;}
.THIS .call{ margin:0; padding:0;text-align: right;line-height: normal;}
.THIS .call h4{ color:#333; font-family:LatoRegular; font-size:13px; margin:12px 54px 5px 0;}
.THIS .call h3{ color:#282828; font-family:LatoRegular; font-size:18px;}
/*header css end*/
/*footer css start*/
.THIS .footer-full{ padding:26px 0; margin:0;}
.THIS .footerbottom{background: #212b3d;width: 100%;}
.THIS .footer-part{ margin:0; padding:0; display:inline-block;}
.THIS .footer-part p{color:#a8b3c6; margin:0 ;font-size:14px; font-family:LatoRegular;  display:inline-block; }
.THIS .footer-part p a{color:#a8b3c6; margin:0 40px 0 0 ;font-size:14px; font-family:LatoRegular;  display:inline-block; }
.THIS .footer-part p.copy{   text-align: right;    display: block;}
/*footer css end*/
/*content css start*/
 @media (max-width: 960px){
   .THIS .select-home{ min-height:auto !important;}
    .THIS .linkpoint{ width: 80% !important; margin:0 0 20px !important;}
    .THIS .landing p{ width: 80% !important;}
}
.THIS .main-title{ margin:0; padding:30px 20px; background:#f6f4f4;}
.THIS .main-title h3{line-height:18px;text-align:left; font-family: 'LatoBold'; font-size:18px; color:#282828; padding:0; margin:18px 0 6px;}
.THIS .main-title h3.agent-line{ margin:0px 0 6px;}
.THIS .main-title .line-sub{ margin:0; padding:0;width: 52px;height: 3px;background: #FE4602;}
.THIS .sub-title{ margin:0; padding:20px; background:#fff;}
.THIS .linkpoint .select-home .sub-title p{     width: 100%;text-align:left;font-family: 'LatoRegular'; font-size:14px; color:#282828; margin:0;padding:0;}
.THIS .landing{ margin:44px auto 60px; text-align:center;}
.THIS .landing h2{ font-size: 26px;font-family: LatoBold; color: #000; margin: 0 0 0px 0;}
.THIS .landing p{font-family:LatoRegular; font-size:16px; margin:0 auto 30px; padding:0;}
.THIS .linkpointmain{ margin:0 auto 60px; clear:both; display:block;}
.THIS .linkpointmain1{ margin:0 auto; clear:both; display:block;}
.THIS .linkpoint{width:18%;display:inline-block; margin:0 20px 0 0;padding:0 0 0 0;vertical-align: top;/* box-shadow: 0 1px 0px 0px #ccc;*/}
.THIS .linkpoint1{display:inline-block; margin:0;padding:0 0 0 0;vertical-align: top;   /* box-shadow: 0 1px 0px 0px #ccc;*/}
.THIS .select-home{ min-height:280px; margin:0; padding:0; border:1px solid #ccc; cursor: pointer;transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;}
.THIS .select-home h4{min-height: 85px;line-height: 20px;color:#282828; padding:20px 0 0;font-family:LatoRegular;margin:0;font-size:16px;}
.THIS .select-home img{ width:100%; margin:0; padding:0;}
.THIS .select-home:hover{border:1px solid #FE4602;-webkit-box-shadow:0 -1px 20px #d3d3d3;
    -moz-box-shadow:0 -1px 20px #d3d3d3;
    box-shadow:0 -1px 20px #d3d3d3;}
.THIS .linkpointmain1 h3{ font-size: 22px;font-family: LatoBold; color: #000; margin: 0 0 10px 0;}
.THIS .linkpointmain1 .Rebrand{ margin:0 0 0 10px !important;}
.THIS .linkpointmain1 .slds-button_brand{ border-radius:5px; margin:0; color:#fff;border:1px solid #FE4602; font-size:14px; padding:9px 30px; min-width: 150px; height:50px; background:#FE4602; font-family:LatoRegular;}
.THIS .linkpointmain1 .slds-button_brand:hover{border:1px solid #FE4602;color:#FE4602;background:#fff;}
.THIS .linkpointmain1 .slds-button_brand:active{border:1px solid #FE4602;color:#FE4602;background:#fff;}
.THIS .linkpointmain1 .slds-button_brand:focus{border:1px solid #FE4602;color:#FE4602;background:#fff;outline: 0; box-shadow: none;}
/*footer css end*/