@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Regular.woff2') format('woff2'),
        url('fonts/Lato-Regular.woff') format('woff'),
        url('fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Regular.eot');
    src: url('fonts/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/ProductSans-Regular.woff2') format('woff2'),
        url('fonts/ProductSans-Regular.woff') format('woff'),
        url('fonts/ProductSans-Regular.svg#ProductSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{ margin: 0 auto; padding: 0; }
.steps-part{ margin: 0 auto; padding: 0 0; }
.steps{ margin: 0 auto; padding: 0 0; background: #dfe9f0;text-align: left;  overflow: hidden}
.steps h2{ font-family: 'Lato'; font-size: 16px; float: left; margin: 0 30px 0 0; font-weight: 500; padding: 0 0; color: #010101;  background: #dfe9f0;}
.steps h2 span{ font-weight: normal; color: #667ea2; }
.steps h2.active{border-bottom: 2px solid #000;}
.steps h2 a{ font-family: 'Lato'; font-size: 16px; float: left; margin: 0 0 0 0; font-weight: 700; padding: 18px 0; color: #010101;  background: #dfe9f0; text-decoration: none}
.steps h2 a span{ font-weight: normal; color: #667ea2; text-decoration: none }
.steps h2.active{border-bottom: 2px solid #000; text-decoration: none}
.steps h2 a:hover{ text-decoration: none}
.content-view{ margin:20px 0 0; padding: 0;}
.comment{ margin: 0; padding: 0; display: inline-block}
.comment img{ margin:0 10px 0 0; padding: 0; float: left;}
.comment p{ font-family: 'Lato'; font-size: 13px; float: left; margin: 3px 0 0 0; padding: 0 0; color: #00afd3; display: contents;}
.steps-point{ margin: 24px 0 0 0; padding: 0; display: block; overflow: hidden}
.steps-point h2{ font-family: 'Lato'; font-size: 17px; font-weight: 500; margin: 0 0 10px; padding: 0;}
.steps-point ul{ margin: 0; padding: 0; }
.steps-point ul li{ color: #666; font-size: 14px; margin: 0; padding: 0; line-height: 22px; list-style: none;  }
.steps-point ul li img{ margin: 0 10px 0 0; padding: 0;  vertical-align: inherit;}
.select-view{ margin:0 0 40px; padding: 0; width:100%; overflow: hidden;}
.select-view h2{ font-family: 'Lato'; font-size: 16px; font-weight: 500; margin: 0 0 10px; padding: 0;}
.stepline{ margin:0 10px 0 0; padding:0; width:18%; float:left;}
.stepline img{ margin:0 10px 0 0; padding: 0; float: left;}
.stepline p{ margin:5px 0 0 0 ; padding: 0;  line-height: 22px; color: #57636c; font-size: 13px;}
.lineup { margin: 10px 5px 0 0 ; padding: 0; float:left;}
.started-view{ padding:10px 0px; margin: 0; background:#dfe9f0; overflow: hidden;}
.started-view a {
    cursor: pointer;
    color: #fff;
    background: #ff6920;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
.started-view div {
    float: right;
}
.started-view a.cancel {
    background: #919ea7;
    margin: 0 10px 0 0;
    color: #fff;
    float: left;
}
.started-view a img{ margin: 5px 0 0 0; padding: 0; vertical-align: bottom; width: 12px;}
.started-view a:hover{ background: #010101;}

.started-view a.get-con{ float: right;}
.header-steps{ margin:0px; padding: 10px 0px;}
.header-steps h2{ margin:0; padding: 0; color: #000; font-size:15px; font-weight: normal;}
.header-steps h2 img{ margin:0 5px 0 0; padding: 0; width: 20px;}
.header-steps h2 span{color: #000; font-size:18px; font-weight: normal; vertical-align: top;}
.header-steps P{ margin:0; padding: 0; color: #000; font-size:15px; font-weight: normal;}
.header-steps P img{ margin:0 5px 0 0; padding: 0; width: 20px;}
.header-steps P span{color: #000; font-size:18px; font-weight: normal; vertical-align: top;}
.filter{ padding: 0 40px; border-bottom: 1px solid #e3e3e3; margin: 0 0 10px 0; overflow: hidden;}
.lines-filter{ margin: 0; padding: 0 20px 0 0; float: left; border-right: 1px solid #e3e3e3; }
.filter-result{ margin:14px 0; padding: 0 0;    overflow: hidden; cursor: pointer;}
.filter-result img{ margin: 0 10px 0 0; float: left; padding: 0;}
.filter-result p{ margin: 1px 0 0 0; padding: 0; color: #333; float: left; font-family: 'Product Sans'; font-size: 16px; font-weight: 400}
.show-case{ margin: 10px 0 10px 14px; padding: 0; float: left;}
.list-show { margin: 0; padding: 0;}
.list-show h3{ margin: 5px 10px 0 0; padding:0 ; font-family:'Lato'; font-size: 15px; color: #627084; font-weight: 300; float: left;}
.list-show ul{ margin:0; padding: 0; float: left; border: 1px solid #dfe9f0; border-radius: 5px;}
.list-show ul li{ margin: 0; padding: 0; list-style: none; border-left: 1px solid #dfe9f0; float: left;}
.list-show ul li:first-child{border-left: none}
.list-show ul li a{ margin: 0; padding: 5px 12px; float:left;font-size: 15px; color: #627084; text-decoration: none; font-family:'Lato';}
.list-show ul li a.active{ background: #dfe9f0;}
.list-sort{ margin: 0; padding: 0; float: right;}
.selectbox{ margin:6px 0;}
.status{ margin-right: 10px;}
.selectdiv {position: relative;float: left;}
.selectdiv:after {content: '\f078';font: normal normal normal 12px/1 FontAwesome;color: #627084;right: 11px; top: 2px; height: 34px;    padding: 12px 0px 0px 8px; position: absolute; pointer-events: none;}
select::-ms-expand {display: none;}
.selectdiv select:focus{ outline: none;}
.selectdiv select {-webkit-appearance: none;-moz-appearance: none; appearance: none;display: block;width: auto;font-family: 'Lato';font-size: 15px; float: right;  margin: 5px 0px;  padding: 0px 14px;  font-size: 16px;  line-height: 1.75;  color: #627084;  background-color: #dfe9f0;  background-image: none;  border: none; border-radius: 5px;  -ms-word-break: normal;  word-break: normal;}
.checkview { margin: 0 40px 0px; display: inline-table; padding: 0;}
.control {font-size: 16px;position: relative;display: block;margin-bottom: 15px;padding-left: 30px;padding-top: 2px;cursor: pointer;
	 font-family: 'Lato';color: #627084;}
.control input {position: absolute;z-index: -1;	opacity: 0;}
.control__indicator {position: absolute;top: 2px;left: 0;width: 20px;height: 20px;background: #fff; border: 1px solid #999; border-radius: 3px;}
.control--radio .control__indicator {	border-radius: 50%;}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {background: #fff;}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #ff6920;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #ff6920;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}


.list-info{ margin: 0 0px 40px; padding: 0;}
.info-list:hover{box-shadow: 0 0 10px rgba(0,0,0,0.4);}
.info-list{ margin: 0 0 16px 0; padding: 0; border: 1px solid #0099ff; overflow: hidden; border-radius: 10px; height: 141px;}
.info-listhide{border: 1px solid #b1b1b1;}
.info-listdel{border: 1px solid #f14e4e;}
.info-left{ margin: 0; padding: 0; width: 20%; float:left; overflow: hidden}
.info-left img{ margin:0; padding: 0; width: 100%; height: 141px;}
.info-middle{ margin:10px 20px; padding: 0; width: 50%; float: left;}
.titlebar{ margin: 0; padding: 0 }
.titlebar p{ margin: 0; padding: 0; color: #f89c45; font-size: 16px;   font-family: 'Product Sans'; font-weight: 300;}
.titlebarhide p{ color: #b1b1b1;}
.titlebardel p{ color: #f14e4e;}
.titlebar img{ margin: 0 10px 0 0 ;padding: 0; float: left;} 
ul.middle-left { margin: 10px 0 0 24px; padding: 0; width: 50%; float: left;}
ul.middle-left li{ margin: 0 0 2px; padding: 0; list-style: none; width: 100%;color: #666;  }
ul.middle-left li label{ text-align: left; font-weight: normal;color: #666;   font-family: 'Product Sans'; font-size: 12px; margin: 0; padding: 0; width: 30%; float: left;}
ul.middle-lefthide li label{ color: #b1b1b1;}
ul.middle-left li p{ color: #666;   font-family: 'Product Sans'; font-size: 12px; margin: 0 0 0 20px; padding: 0; display: inline-block;}
ul.middle-lefthide li p{ color: #b1b1b1;}
ul.middle-lefthide li, ul.middle-righthide li { color: #b1b1b1;}

ul.middle-leftdel li, ul.middle-rightdel li, ul.middle-leftdel li p, ul.middle-rightdel li p, ul.middle-rightdel li label,ul.middle-leftdel li label, .period-statusdel h2 a{ color: #f14e4e !important;}
.period-statusdel h3{ color: #383838;}
ul.middle-right { margin: 10px 0 0 24px; padding: 0; width: 38%; float: left;}
ul.middle-right li{ margin: 0 0 10px; padding: 0; list-style: none; width: 100%;  }
ul.middle-right li label{text-align: left; font-weight: normal; color: #666;   font-family: 'Product Sans'; font-size: 12px; margin: 0; padding: 0; width: 50%; float: left;}
ul.middle-right li p{ color: #666;   font-family: 'Product Sans'; font-size: 12px; margin: 0 0 0 20px; padding: 0; display: inline-block;}
.panel-body {
    padding: 0;
    border: none;
}
ul.middle-righthide li label{ color: #b1b1b1; }
ul.middle-righthide li p{ color: #b1b1b1;}
ul.middle-right li label p{ margin: 0; padding: 0; float: left}
ul.middle-right li label p img{ margin: 0 10px 0 0; padding: 0; float: left}

.info-right{ margin: 10px 0 0 0; padding: 0; float: left; width:22%;}

.period-status{ margin: 0; padding: 0;  }
.period-status img{ float:left; padding: 0; margin: 0 10px;}
.period-status h3{ margin:0; padding:0; color: #666;font-family: 'Product Sans';  font-weight:300; font-size:14px; }
.period-status h2{  margin:0; padding:0; display: inline-flex;}
.period-status h2 a{ margin:0; padding:0; color:#33cc00; font-weight:400; font-family: 'Product Sans';text-decoration:none; font-size:16px;  }
.period-statushide h3{ color:#b1b1b1;}
.period-statushide h2 a{ color:#b1b1b1;}
.pagenation{ margin:20px 0 40px; padding: 0; text-align: center;}
.pagenation h5{ margin: 0 0 20px; padding: 0; color: #999; font-size: 14px; font-family: 'Product Sans'; font-weight: 300;}
.pagenation ul{ margin: 0; padding: 0;  }
.pagenation ul li{ margin:0 5px 0 0 ; padding:0; list-style:none;     display: inline-block; }
.pagenation ul li a{  margin:0; padding:10px 14px; text-align:center;font-size: 14px; background:#dfe9f0; color:#202b3c; font-family: 'Product Sans';    border-radius: 22px; text-decoration:none; }
.pagenation ul li a.active{background:#202b3c; color:#fff;}
.transfer{     position: relative; margin:0 0 40px; padding:0 0; border:1px solid #f1f1f1;border-radius: 5px; overflow: hidden;}
.transferleft{ margin:0; padding:20px 50px; width:48%;  border-right:1px solid #f1f1f1;border-bottom: 1px solid #f1f1f1;overflow: hidden; float: left;}
.transferright{    border-right: none;  margin: 0px; padding:  20px 0 20px 100px;    width: 40%}
.transferleft h2{ margin:0 0 20px; padding:0; font-family: 'Lato'; font-size:16px; font-weight:600; line-height: 40px;}
.transferstatus h2{ margin:0 0 20px; padding:0; font-family: 'Lato'; font-size:12px; font-weight:300;line-height: initial;}
.transferstatus{ margin:0; padding: 0; float: left; width:100%; }
.transferstatus p { margin:0; padding: 0; float: left;}
.transferstatus p img{ margin: 0 10px 0 0; padding: 0; float: left;}
.transferstatus h3{ margin: 0 0 10px; padding: 0; color: #ff6920; font-family: 'Lato';font-size:18px; font-weight:300; }
.transferstatus h4{ margin: 0 0 10px; padding: 0; color: #666; font-family: 'Lato';font-size:14px; font-weight:300; }
.transfermiddle{ position: absolute; top: 24%; left: 45%;}


.select-view #table{ display: table;}
.subscription{ margin:5px 0 0 10px; padding:0;}
.subscription input[type="submit"]{color: #fff;
    background: #ff6920;
    float: left;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 0 0 5px;
    border: none;
    border-radius: 5px;}
.subscription input[type="text"]{ border-radius: 5px; border: 1px solid #D5D5D5;color: #000; font-size: 14px; line-height: 1.2; background-color: #deedfc;float: left; width: 150px; padding: 6px 5px;}
.subscription input[type="text"]:hover, .subscription input[type="text"]:focus{ outline: none;border: 1px solid #0099ff;}

.subscription input[type="text"]::placeholder {
    color: #666;
    opacity: 0.6; /* Firefox */
}

.subscription input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #666;
}

.subscription input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
   color: #666;
}
#table {
		display: table-cell;
	 	border:1px solid #e5e5e5;
	 	width: 100%; 
	 	background: #fff;
	 	margin: 0;overflow: hidden;
	 	box-sizing: border-box; border-radius: 5px;
      
	 }
#table tr th {
 background: #dfe9f0;
    color: #333;
    display: table-cell;
    font-family: 'Product Sans';
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
    font-size: 14px;
}
#table tr{
border-bottom: 1px solid #e5e5e5;
	}
#table tr:last-child{border-bottom: none;}
#table tr td {
    display: table-cell;
    font-family: 'Product Sans';
    padding: 10px 20px;
    border-bottom: none;
    text-align: left;
    font-size: 14px; color: #333;
}
.table>tbody>tr>td{ border: none;}
#table tr td.blue{ float: right; text-align: right; border-bottom: none;}
#table tr td.blue a{ color: #0099ff; float: left; }
#table tr td.blue p{  float: left; margin: 0 0 0 10px;}
	 .caption {
	 	display: block;
	 	width: 100%;
	 	background: #64e0ef;
	 	height: 55px;
	 	padding-left: 10px;
	 	color: #fff;
	 	font-size: 20px;
	 	line-height: 55px;
	 	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	 	box-sizing: border-box;
	 }


	 .header-row {
	 	background: #dfe9f0;
	 	color: #333;

	 }
           .row:before{ display:none;}
	.row {
		display: block;
	}

	.cell {
		display: table-cell;
		font-family: 'Product Sans';
		padding: 14px 20px; 
		border-bottom: 1px solid #e5e5e5;
		text-align: left; font-size: 14px;
	}
.cell1 p{  margin: 0; display: inherit;font-size: 13px; background: #33cc00; color: #fff; padding: 5px; border-radius: 4px;}
.cell2{ color:#33cc00}
.cell3{ color:#f34343}
	.primary {
		text-align: left; 
	}
.header-row .cell{ padding: 10px 20px;}

	input[type="radio"],
	input[type="checkbox"]{
		display: none;
	}


	@media only screen and (max-width: 760px)  {

		body {
			padding: 0;
		}

		#table {
			display: block;
			margin: 0 0 0 0;
			font-family: 'Product Sans';
		}

		

		.row { 
			position: relative;
			display: block;
			border-bottom: 1px solid #ccc; 

		}

		.header-row {
			display: none;
		}
		
		.cell { 
			font-family: 'Product Sans';
			display: block;
             color: #333;
			border: none;
			position: relative;
			height: 45px;
			line-height: 45px; color:#333;
			text-align: left; 
			
		}

		.primary:after {
			content: "";
			display: block;
			position: absolute;
			right:20px;
			top:18px;
			z-index: 2;
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right:10px solid #ccc;

		}

		.cell:nth-of-type(n+2) { 
			display: none; 
		}


		input[type="radio"],
		input[type="checkbox"] {
			display: block;
			position: absolute;
			z-index: 1;
			width: 99%;
			height: 100%;
			opacity: 0;
		}
    
    input[type="radio"]:checked,
		input[type="checkbox"]:checked {
		  z-index: -1;
		}

		input[type="radio"]:checked ~ .cell,
		input[type="checkbox"]:checked ~ .cell {
			display: block;

			border-bottom: 1px solid #eee; 
		}

		input[type="radio"]:checked ~ .cell:nth-of-type(n+2),
		input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2) {
			
			background: #e0e0e0;
		}

		input[type="radio"]:checked ~ .cell:nth-of-type(n+2):before,
		input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2):before {
			content: attr(data-label);

			display: inline-block;
			width: 60px;
			background: #999;
			border-radius: 10px;
			height: 20px;
			margin-right: 10px;
			font-size: 12px;
			line-height: 20px;
			text-align: center;
			color: white;

		}

		input[type="radio"]:checked ~ .primary,
		input[type="checkbox"]:checked ~ .primary  {
			border-bottom: 2px solid #999;
		}

		input[type="radio"]:checked ~ .primary:after,
		input[type="checkbox"]:checked ~ .primary:after {
	 		position: absolute;
			right:18px;
			top:22px;
			border-right: 10px solid transparent;
			border-left: 10px solid transparent; 
			border-top:10px solid #ccc;
			z-index: 2;
		}
	}

.success{ margin:60px; padding:0; text-align:center;}
.success img{ margin: 0 0 20px; padding:0; width: 60px; }
.success h3{ color: #33cc00; font-family: 'Lato'; font-size: 18px;font-weight: 400; margin: 0 0 20px 0}
.success p{ color: #666; font-family: 'Lato'; font-size: 14px;font-weight: 400; margin: 0 0 40px 0;    line-height: 26px;}
.success a{color: #fff; cursor: pointer;
    background: #ff6920;
    font-size: 18px;
    text-decoration: none;
	padding: 10px 20px;}

.stepleft{ margin: 0; padding: 0; float: left; overflow: hidden;}
.stepleft ul{ margin:  0;  padding: 0; }
.stepleft ul li{ padding:0; margin: 0;border:1px solid #e5e5e5; border-right: none; border-right: 2px solid #e5e5e5}
.stepleft ul li img{ margin: 0 10px 0 0; padding: 0; float: left;}
.stepleft ul li a{line-height: 20px; margin:0; padding:24px 10px; text-decoration: none;color: #010101;font-family: 'Lato'; font-size: 14px; font-weight: 400; display:block }
.stepleft ul li p{ color: #010101; font-family: Myriad Pro; font-size: 15px; font-weight: 400; line-height: 16px; margin: 0 0 0 0; padding: 0; text-decoration: none;}

.stepleft ul li.green.active  { border-right: 2px solid #4ad204}
.stepleft ul li.orange.active  { border-right: 2px solid #FE4602}
.stepleft ul li.green.active a{ color:#4ad204}
.stepleft ul li.orange.active a{ color:#FE4602}

.stepright{ margin: 0 0 0px 0px; padding: 0; width: 82%; float:left;}

.cellhide{ color:#000;}
.blue{ color: #0099ff;}
.stepleftmenu{ margin: 0 20px 0 0px ; width: 15%; float:left; padding:0;}
.info-popup{ margin: 0 90px 0 0; padding: 0; float: left;}
.info-popup h2{ margin: 0 0 10px 0; padding: 0;font-family: 'Lato';  font-size: 18px; font-weight: 600;}
.info-popup p{ margin: 0 0 10px 0; padding: 0;font-family: 'Lato';  font-size: 13px; line-height: 22px; display: contents; font-weight: 300;}
.tooltip {
    display:contents;
    position:relative;
    border-bottom:none; margin: 0 0 0 10px; vertical-align: sub;
    text-align:left;
}

.tooltip .right {
    min-width:300px; 
    top:150%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#666;
    background-color:#fff;
    font-weight:normal;
    font-size:13px;
    border-radius:none;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:hover .right {
    display:block;
}

.tooltip .right i {
    position:absolute;
    top:15%;
    right:100%;
    margin-top:-0;
    width:12px;
    height:24px;
    overflow:hidden;
}
.tooltip .right p{ color:#666; font-size: 12px;}
.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#fff;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.position-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#table .row{ display:table-row}
.pure-radiobutton * {
  box-sizing: border-box;
}
.table1{ border: 1px solid #4ad204 !important;box-shadow: 0 0 10px rgba(0,0,0,0.4); }
.table2{ border: 1px solid #FE4602 !important;box-shadow: 0 0 10px rgba(0,0,0,0.4); }
.pure-radiobutton *:after {
  box-sizing: border-box;
}
.pure-radiobutton{ margin: 0 0 5px 0;}

.pure-radiobutton img{ width: 18px;}
.pure-radiobutton input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pure-radiobutton input[type="radio"]:hover + label:before {
  border-color: #ccc;
  background-color: #3399ff;
}

.pure-radiobutton input[type="radio"]:active + label:before {
  transition-duration: 0s;
}

.pure-radiobutton input[type="radio"] + label {
  position: relative;
  padding: 5px 5px 5px 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer; color: #0f0b0c;   font-family: 'Lato'; font-weight: normal
}

.pure-radiobutton input[type="radio"] + label:before {
  box-sizing: content-box;
  content: '';
  color: #4F8196;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid #ccc;
  text-align: center;
  transition: all 0.4s ease;
}

.pure-radiobutton input[type="radio"] + label:after {
  box-sizing: content-box;
  content: '';
  background-color: #3399ff;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}

.pure-radiobutton input[type="radio"]:disabled + label:before {
  border-color: #cccccc;
}

.pure-radiobutton input[type="checkbox"]:disabled:focus + label:before,

.pure-radiobutton input[type="radio"]:disabled:focus + label:before,

.pure-radiobutton input[type="radio"]:disabled:hover + label:before {
  background-color: inherit;
}

.pure-radiobutton input[type="checkbox"]:disabled:checked + label:before,
.pure-radiobutton input[type="radio"]:disabled:checked + label:before {
  background-color: #cccccc;
}

.pure-radiobutton input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}

.pure-radiobutton input[type="checkbox"]:checked + label:after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}

.pure-radiobutton input[type="radio"]:checked + label:before {
  animation: borderscale 300ms ease-in;
  background-color: white;
}

.pure-radiobutton input[type="radio"]:checked + label:after {
  transform: scale(1);
}

.pure-radiobutton input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:after {
  border-radius: 50%;
}

.pure-radiobutton input[type="checkbox"]:checked + label:before {
  animation: borderscale 200ms ease-in;
  background: #4F8196;
}

.pure-radiobutton input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg) scale(1);
}

.pure-radiobutton.pure-checkbox-inline,
.pure-radiobutton.pure-radiobutton-inline {
  display: inline-block;
}
.pure-radiobutton1{    margin: 5px 0px 0px 10px;}
.pure-radiobutton1 label{ float: left; margin: 5px 10px 0 0; padding: 0; }
.pure-radiobutton1 input[type=text]{ border: 1px #ccc solid; padding: 5px; margin: 0 0 0 0; border-radius: 10px; color: #000; background: #fff; width: 120px;  }
.pure-radiobutton1 input[type=text]:hover, .pure-radiobutton1 input[type=text]:focus{ outline: none; border:1px solid #0099ff;}
.pure-radiobutton1 span{ display: block;font-size: 12px;
    text-align: center;
    margin: 0 0 0 20px;}
@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #4F8196;
  }
}


ul.input-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.input-list li {
  margin:0 ;
  padding: 0;
}
.panel {
  margin: 0 0; box-shadow: none;
}
.period-status h6{  margin:0 0 0 0; padding:0; color:#eb3d39; font-size:13px;  font-family: 'Lato'; font-weight:400 }


.topper1 {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
}

