@charset "utf-8";
/* CSS Document */
body{
	font-size: 12px;
}
h2{
	font-size: 100%;
}
.fieldCustomStyle{    
	border: none;
	background-color: #f1f3f6;
	border-radius: 0px;
}
body { background-color: #F1F3F6;}
.body_content { padding:20px 28px; background-color: #F1F3F6; }
.header_row{ padding:8px; background-color:#ffffff;}
.header_row img.logo{padding: 12px 0px; padding-left: inherit; margin-left:20px;}
.panel-group{ margin:0;}
.form-group input[type=text]{ width:170px !important;}
.ng-table tr td a { color:#428bca}
.modal-body{ margin:20px;}
.modal-header {
	padding: 10px 20px 10px;
	border-bottom: 1px solid #E1E2E3;
}
.filterFields{
	margin-bottom: 15px;
	font-weight: bold; 
	font-size: 12px;
}
.LeftPanel{
	font-size: 14px; 
	width: 15%; padding-top: 10px; padding-bottom: 10px; margin-bottom: 2%;
}
.SearchOut{
	font-weight: normal; font-size: 18px;
}
.Searchinput{
	margin-top: 5px; margin-bottom: 5px; font-weight: bold;
}
.copy-cat{text-align:center; color:#999; margin-top:20px; font-family: arial; font-size: 12px; font-weight: bold;}

@media only screen and (max-width: 767px) {
	.header_row{text-align: center;}
	.header_row img.logo{margin-left:0;}
	.alert-success{ margin: 1em 0;}
	.panel-group .panel-heading+.panel-collapse .panel-body{overflow-x: scroll;}
}
