@font-face {
    font-family: 'Acronym-Regular';
    src: url(/resource/bright/bright-3.0/fonts/Acronym-Regular.ttf);  
}
@font-face {
    font-family: 'Acronym-Bold';
    src: url(/resource/bright/bright-3.0/fonts/Acronym-Bold.ttf);
}

.slds-scope{ background:#EFF2F5;}
 .fullpage { background:#f2f3f7;  margin:0;  padding:0;}
 .slds-box_x-small{ padding:0; border:none;}


/*side bar css start*/
 .sidebar{ margin:24px 0; padding:20px; background:#fff; display:inline-block;    border-radius: 5px;}

 .menuside { margin:0 0 5px; padding:0; text-align:left;}
 .submenu { margin:20px 0 5px 20px; padding:0; text-align:left; display:none;}
 .menuside li{ margin:0 0 20px; padding:0; text-align:left;}
 .menuside li.logout{ margin:300px 0 0px 0; padding-top:5px; border-top:1px solid #eff2f5;}
 .menuside li a img { margin:0 10px 0 0;}
 .menuside li a img.down{   margin: 5px 0 0 0; float: right;}

 
 .menuside li a{ margin:0 0 10px; padding:0; text-align:left;text-decoration: none; color:#4F5A65; font-size:14px; font-family: 'Acronym-Regular'; } 
 .menuside li a:hover { color:#FF4500; text-decoration: none;}
 .menuside li a:focus { color:#FF4500; text-decoration: none;}
 .menuside li a.active { color:#FF4500;text-decoration: none;}
 .menuside li a.active:hover { text-decoration: none;}
/*side bar css end*/